.box {
  background-color: #f5f5f5;
  padding: 2.375rem 0 2.6875rem 0;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
.header h1 {
  font-size: 0.9375rem;
  color: #fff;
  width: 100%;
  height: 2.3125rem;
  line-height: 2.3125rem;
  background-color: #0bd16b;
  text-align: center;
  letter-spacing: 0.0625rem;
  border-bottom: 0.0625rem solid #6ab999;
  position: relative;
}
.header h1 i {
  font-size: 1rem;
  width: 2.625rem;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
.top {
  color: #898888;
  font-size: 0.8125rem;
  height: 1.625rem;
  line-height: 1.625rem;
  padding: 0 0.875rem;
}
.swiper .swiper_view {
  height: 9.375rem;
}
.swiper .swiper_view div {
  height: 9.375rem;
  width: 100%;
  text-align: center;
}
.swiper .swiper_view div img {
  width: 100%;
  height: 100%;
}
.tab .tab_view {
  border-bottom: 0.0625rem solid #e0e0e0;
}
.tab .tab_view div {
  width: 100%;
  text-align: center;
  background-color: #fff;
}
.tab .tab_view div ul {
  height: 100%;
  width: 100%;
}
.tab .tab_view div ul li {
  font-size: 0.75rem;
  width: 25%;
  height: 5.6875rem;
  float: left;
  text-align: center;
}
.tab .tab_view div ul li a {
  color: #333;
  height: 100%;
  width: 100%;
  display: block;
  padding-top: 1.25rem;
}
.tab .tab_view div ul li a:hover {
  color: #333;
}
.tab .tab_view div ul li img {
  height: 2.375rem;
  width: 2.375rem;
}
.tab .tab_view div ul li span:nth-child(2) {
  display: block;
  margin-top: 0.375rem;
}
.main {
  background-color: #fff;
  padding: 0 1rem;
}
.main h3 {
  height: 2.375rem;
  line-height: 2.375rem;
  border-bottom: 0.0625rem solid #e6e6e6;
  margin-bottom: 1rem;
}
.main h3 span {
  color: #898888;
  font-size: 0.8125rem;
  border-left: 0.125rem solid #0bd16b;
  padding-left: 0.5rem;
}
.main .content div {
  padding-bottom: 1.5rem;
  border-left: 0.0625rem solid #e6e6e6;
  padding-left: 1.25rem;
  position: relative;
}
.main .content div h4 {
  font-size: 0.8125rem;
  font-weight: 700;
  padding-right: 4rem;
  position: relative;
}
.main .content div h4 span {
  color: #898888;
  font-size: 0.75rem;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0;
}
.main .content div p {
  font-size: 0.75rem;
  color: #898888;
  padding-right: 2.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.main .content div p span {
  position: absolute;
  top: 0;
  right: 0;
}
.main .content div button {
  color: #898888;
  font-size: 0.75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0 0.75rem;
  border: 0.0625rem solid #e6e6e6;
  border-radius: 0.75rem;
  background-color: #fff;
  margin-right: 0.25rem;
}
.main .content div .green {
  color: #fff;
  background-color: #0bd16b;
  border: 0.0625rem solid #0bd16b;
}
.main .content div i {
  width: 0.625rem;
  height: 0.625rem;
  border: 0.125rem solid #e6e6e6;
  border-radius: 0.3125rem;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -0.3125rem;
}
.main .content div .green_border {
  border: 0.125rem solid #0bd16b;
}
.success {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 55;
  display: none;
}
.success .success_box {
  font-size: 1rem;
  color: #fff;
  width: 60%;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  background-color: rgba(11, 209, 107, 0.8);
  margin-top: -2rem;
  border-radius: 0.4rem;
  letter-spacing: 0.125rem;
  position: absolute;
  top: 50%;
  left: 20%;
}
.alert {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 50;
}
.alert .alert_box {
  width: 80%;
  background-color: #fff;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 10%;
  margin-top: -9rem;
}
.alert .alert_box h3 {
  font-size: 1rem;
  font-weight: 700;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-bottom: 0.0625rem solid #e6e6e6;
}
.alert .alert_box h3 .off {
  color: #fff;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 1rem;
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  background-color: #ccc;
}
.alert .alert_box .alert_content {
  color: #898989;
  font-size: 0.8125rem;
  padding: 0.875rem;
  max-height: 20rem;
  overflow: auto;
}
.alert .alert_box .alert_content p {
  padding: 0.25rem 0;
}
.alert .alert_box button {
  color: #fff;
  font-size: 1rem;
  height: 2.5rem;
  width: 80%;
  border-radius: 0.5rem;
  margin: 0.5rem 10%;
  border: none;
}
.alert .alert_box .grey {
  background-color: #ccc;
}
.alert .alert_box .green {
  background-color: #0bd16b;
}

